footer(class="bg-gradient-to-br from-linearFooter1 to-linearFooter2")
    section(class="px-[10%] pt-20")
        section(class="p-6 flex justify-between gap-[20px] bg-[#003459] rounded-[16px]")
            p(class="text-stone-50 font-bold text-[20px] w-[35%]") Register Now So You Don't Miss Our Programs
            div(class="w-[60%] p-[10px] flex justify-between items-center gap-[20px] bg-white rounded-[8px]")
                input(type='text' placeholder='Enter your email' class="text-[12px] pl-5 outline-none border-solid border border-slate-600 w-[80%] h-[40px] rounded-[8px]")
                button(class="p-[10px] text-xs text-stone-50 bg-[#003459] rounded-[8px]") Subcribe Now

        section(class="pt-[30px] pb-[40px]")
            nav(class="flex gap-14 text-[#00171F] text-[14px]")
                a(href='/') Home
                a(href='/category') Category
                a(href='/blog') Blog
                a(href='/contact') Contact
        hr(class="border-[#CCD1D2]")
        section(class="py-8 flex justify-between")
            p(class="text-[#667479] text-[14px]") © 2024 Monito. All rights reserved.
            img(src="/images/favicon.svg", alt="logo of page")
            div(class="flex gap-[20px] text-[#667479] text-[14px]")
                p Terms of Service 
                p Privacy Policy 
