section(class="px-[10%]")

  header(class="flex justify-between py-8 ")
    
    nav(class="flex justify-between gap-x-16 items-center")
      a(href='/')
        i
          img(src='/images/favicon.svg' alt='Shop-Favicon' class="items-center")
      a(href='/') Home
      a(href='/category') Category
      a(href='/blog') Blog
      a(href='/contact') Contact
      input(type='text' placeholder='Search something here!' class="h-11 w-[25%] p-4 rounded-[46px] outline-none")

    button(class="button-header px-[28px] text-stone-50 bg-[#003459] rounded-[57px] h-full") Sign in
    if (user)
      img(src=user.thumbnail, alt="user-avatar", class="avatar-user relative w-[40px] h-[40px] rounded-full border-2 border-[#002A48]")
    