include ../mixins/dropdownUser.pug
include ../mixins/dropdownCard.pug
include ../mixins/dropdownCategory.pug
section(class="px-[10%]")

  header(class="flex justify-between py-8 ")
    
    nav(class="xs:flex justify-between w-full sm:hidden")
      a(href='/' class="sm:hidden")
        i
          img(src='/images/favicon.svg' alt='Shop-Favicon' class="items-center")
      div(class="sidebar-toggle w-16 h-16 cursor-pointer")
        svg#sidebar-icon.w-6.h-6.text-gray-800(class="w-full h-full" xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewbox='0 0 24 24')
          path(stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M5 7h14M5 12h14M5 17h14')
    nav(class="xs:hidden sm:flex w-full justify-between gap-x-16 items-center")
      a(href='/')
        i
          img(src='/images/favicon.svg' alt='Shop-Favicon' class="items-center")
      div.flex.justify-start.gap-x-16(class="w-6/12")
        a(href='/' class="text-medium font-semibold text-[#003459] relative inline-block  after:content-[''] after:block after:h-[2px] after:w-0 after:bg-[#003459] after:transition-all after:duration-300 hover:after:w-full") Home
        div(class="relative group category")
          div(class="cursor-pointer flex items-center gap-") 
            span(class="text-medium font-semibold text-[#003459] relative inline-block  after:content-[''] after:block after:h-[2px] after:w-0 after:bg-[#003459] after:transition-all after:duration-300 hover:after:w-full") Category
              +dropdownCategory()
        a(href='/blog' class="text-medium font-semibold text-[#003459] relative inline-block  after:content-[''] after:block after:h-[2px] after:w-0 after:bg-[#003459] after:transition-all after:duration-300 hover:after:w-full") Blog
      div.flex.h-full.items-center.gap-x-10
        +dropdownCard()
        a(href="user/signin" class="button-header px-[28px] text-stone-50 bg-[#003459] rounded-[10px] h-full") 
          button(class="text-stone-50 bg-[#003459] h-full") Sign in
        if (user)
          +dropdownUser(user)
  article(class="xs:hidden hero-category sm:grid grid-cols-2")
    aside(class="relative")
      img(src='/images/thumbnail-category-dog.png' alt='Humans and Dog' class="absolute bottom-0 left-10")
      div(class="block-in-hero w-5 h-5 rounded-xl bg-[#F7DBA7]")

    div(class="py-[10%] px-[3%] text-right w-[80%]")
      h1(class="text-[52px] font-black text-[#FDFDFD] py-[5px]") One More Friend
      h3(class="text-[36px] font-extrabold text-[#FDFDFD] py-[5px]") Thousands more fun!
      p(class="text-[12px] font-normal py-[20px] text-[#FDFDFD]")
        | Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!
      button(class="explore w-[150px] text-[12px] p-[16px] text-black bg-[#FDFDFD] rounded-[57px]") Explore Now

    


    