doctype html 
html 
    head 
        title PetCommunity 

        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/tailwind.css")
        

    body 
        .main 
            block main

        script(src="/js/script.js") 