doctype html 
html 
    head 
        link(rel="icon", href="/images/favicon.svg")
    
        title PetCommunity 

        link(rel="stylesheet", href="/styles/tailwind.css")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")

    body 

        include ../partials/header.pug

        .body  

            .main 
                block main

        include ../partials/footer.pug
        
        script(src="/js/script.js") 