section(class="px-[10%] pb-[5%]")
    div(class="flex justify-between pb-[3%]")
        p(class="text-[16px]")  Proud to be part of       
            span(class="text-[24px] text-[#003459] font-bold") Pet Sellers 
        button(class="flex justify-center py-[10px] w-[20%] h-[1%] text-[14px] text-[#003459 rounded-[57px] border-solid border-2 border-[#003459] hover:bg-[#ff7037]") View all our seller
            img(src="/images/arrow_button.svg", alt="arrowbutton")
    figure(class="flex justify-between")
        img(src="/images/sheba-seller.png", alt="shiba-seller")
        img(src="/images/whiskas-seller.png", alt="whiskas-seller")
        img(src="/images/bakers-seller.png", alt="bakers-seller")
        img(src="/images/felix-seller.png", alt="felix-seller")
        img(src="/images/goodboy-seller.png", alt="goodboy-seller")
        img(src="/images/butcher-seller.png", alt="butcher-seller")
        img(src="/images/pedigree-seller.png", alt="pedigree-seller")
section(class="banner-dog-friend pb-[5%]")
    img(src="/images/banner-dashboard-adoption.png", alt="adoption" class="px-[10%] w-[100%]")
    button(class="btn-adop") Explore Now
                