section(class="pb-[5%]")
    div(class="flex justify-between pb-[3%]")
        p(class="text-[16px]")  Proud to be part of       
            span(class="text-[24px] text-[#003459] font-bold") Pet Sellers 
        button(class="flex justify-center py-[10px] w-[20%] h-[1%] text-[14px] text-[#003459 rounded-[57px] border-solid border-2 border-[#003459] hover:bg-[#ff7037]") View all our seller
            img(src="/images/arrow_button.svg", alt="arrowbutton")
    .relative.w-full.overflow-hidden
        .grid.grid-cols-1.gap-4(class="lg:grid-cols-2 lg:flex lg-animate-scroll lg:gap-8")#scrollContent
            each image in ['sheba', 'whiskas', 'bakers', 'felix', 'goodboy', 'butcher', 'pedigree']
                img(
                    src=`/images/${image}-seller.png`
                    alt=`${image}-seller`
                    class="h-16 w-full object-contain lg:h-24 lg:w-auto"
                )
section(class="banner-dog-friend pb-[5%]")
    img(src="/images/banner-dashboard-adoption.png", alt="adoption" class="w-[100%]")
    button(class="btn-adop") Explore Now
script(src="/js/client/pages/category/effect.js")                