extends ../../layouts/default.pug

block main
 include ./components/NewPet.pug
 include ./components/BannerDogFriend.pug
 include ./components/FoodPet.pug
 include ./components/ToyPet.pug
 include ./components/Seller.pug
