extends ../../layouts/default.pug
block main
  form(
    action=`/${prefixAdmin}/toypet/create`
    method="POST"
    enctype="multipart/form-data"
    class="w-full"
    ) 
    section.bg-blueGray-50.overflow-y-auto.max-h-full
      .w-full.mx-auto.mt-6(class='lg:w-full')
        .relative.flex.flex-col.min-w-0.break-words.w-full.mb-6.shadow-lg.rounded-lg.bg-blueGray-100.border-0
          .rounded-t.bg-white.mb-0.px-6.py-6
            .text-center.flex.justify-between
              h6.text-xl.font-bold(class="text-[#00171F]")
                | Create new pet food
              button.text-white.font-bold.uppercase.text-xs.px-4.py-2.rounded.shadow.outline-none.mr-1.ease-linear.transition-all.duration-150(class='active:bg-pink-600 hover:shadow-md focus:outline-none bg-[#003459]' type='submit')
                  | Save
          .flex-auto.px-4.py-10.pt-0(class='lg:px-10')
            form
              h6.text-blueGray-400.text-sm.mt-3.mb-6.font-bold.uppercase
                | Food Pet Information
              .flex.flex-wrap
                .w-full.px-4(class='lg:w-6/12')
                  .relative.w-full.mb-3
                    label.block.uppercase.text-blueGray-600.text-xs.font-bold.mb-2(for='name')
                      | Name
                    input.border-0.px-3.py-3.placeholder-blueGray-300.text-blueGray-600.bg-white.rounded.text-sm.shadow.w-full.ease-linear.transition-all.duration-150#name(type='text' name="name" class='focus:outline-none focus:ring' required) 
                .w-full.px-4(class='lg:w-6/12')
                  .relative.w-full.mb-3
                    label.block.uppercase.text-blueGray-600.text-xs.font-bold.mb-2(for='type')
                      | Type
                    select#type.border-0.px-3.py-3.placeholder-blueGray-300.text-blueGray-600.bg-white.rounded.text-sm.shadow.w-full.ease-linear.transition-all.duration-150(name="type" class='focus:outline-none focus:ring') 
                      option(value="Toy") Toy
                      option(value="Costume") Costume
                .w-full.px-4(class='lg:w-4/12')
                  .relative.w-full.mb-3
                    label.block.uppercase.text-blueGray-600.text-xs.font-bold.mb-2(for='price')
                      | Price
                    input.border-0.px-3.py-3.placeholder-blueGray-300.text-blueGray-600.bg-white.rounded.text-sm.shadow.w-full.ease-linear.transition-all.duration-150#price(type='text' name="price" class='focus:outline-none focus:ring' required)
              hr.mt-6.border-b-1.border-blueGray-300
              h6.text-blueGray-400.text-sm.mt-3.mb-6.font-bold.uppercase
                | Additional Information
              .flex.flex-wrap
                .w-full.px-4(class='lg:w-12/12')
                  .relative.w-full.mb-3
                    label.block.uppercase.text-blueGray-600.text-xs.font-bold.mb-2(for='special_offer')
                      | Special Offer
                    input.border-0.px-3.py-3.placeholder-blueGray-300.text-blueGray-600.bg-white.rounded.text-sm.shadow.w-full.ease-linear.transition-all.duration-150#special_offer(type='text' name="special_offer" class='focus:outline-none focus:ring' required)

              hr.my-6.border-b-1.border-blueGray-300
              .bg-gray-50.text-center.px-4.rounded.max-w-md.flex.flex-col.items-center.justify-center.cursor-pointer.border-2.border-gray-400.border-dashed.mx-auto(class='font-[sans-serif]')
                .py-6
                  svg.w-10.mb-2.fill-gray-600.inline-block(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                    path(d='M23.75 11.044a7.99 7.99 0 0 0-15.5-.009A8 8 0 0 0 9 27h3a1 1 0 0 0 0-2H9a6 6 0 0 1-.035-12 1.038 1.038 0 0 0 1.1-.854 5.991 5.991 0 0 1 11.862 0A1.08 1.08 0 0 0 23 13a6 6 0 0 1 0 12h-3a1 1 0 0 0 0 2h3a8 8 0 0 0 .75-15.956z' data-original='#000000')
                    path(d='M20.293 19.707a1 1 0 0 0 1.414-1.414l-5-5a1 1 0 0 0-1.414 0l-5 5a1 1 0 0 0 1.414 1.414L15 16.414V29a1 1 0 0 0 2 0V16.414z' data-original='#000000')
                  h4.text-base.font-semibold.text-gray-600 Images about your pet
                hr.w-full.border-gray-400.my-2
                .py-6
                  input#avt.hidden(type='file' name="avt" accept="image/*")
                  label.block.px-6.rounded.text-gray-600.text-sm.tracking-wider.font-semibold.border-none.outline-none.cursor-pointer.bg-gray-200(for='avt' class='py-2.5 hover:bg-gray-100')
                    | Browse
                    | Files
                  p.text-xs.text-gray-400.mt-4 PNG, JPG SVG are Allowed.
                  .mt-4
                    h3.text-gray-600.font-semibold.text-sm Avatar of your pet
                      .relative(class="avtDiv")
                        img(src = alt="pet-avatar" class="avatarPet w-full object-cover rounded")
                        
                            
                .py-6
                  input#images.hidden(type='file' name="images" multiple accept="image/*")
                  label.block.px-6.rounded.text-gray-600.text-sm.tracking-wider.font-semibold.border-none.outline-none.cursor-pointer.bg-gray-200(for='images' class='py-2.5 hover:bg-gray-100')
                    | Browse
                    | Files
                  p.text-xs.text-gray-400.mt-4 PNG, JPG SVG are Allowed.        
                  .mt-4
                    h3.text-gray-600.font-semibold.text-sm New Photos
                    .overflow-y-auto.h-60.mt-2 
                      .grid.grid-cols-3.gap-4.mt-2#newImages

    script(type="module" src="/js/admin/pages/toypet/edit.js")

                