extends ../../layouts/default.pug
block main
    
    div(class="flex justify-between pt-[5%] pb-[1%]")
                p(class="text-[24px] font-bold text-[#003459]") Filter 
                select(class="py-[10px] px-[25px] border outline-none rounded-[20px] flex justify-center items-center text-[14px] text-[#667479]")
                    option(value="" default) Sort by: Popular 
                    option(value="") Sort by: Latest
                    option(value="") Sort by: Oldest
                    option(value="") Sort by: Age
    section(class="pb-[5%] flex gap-[5%]")
        include ./components/Filter.pug
        include ./components/Pet.pug
    script(src="/js/filterPet.js")  
