mixin dropdownCategory()
  div#dropdown-category(class="hidden z-50 absolute group-hover:block left-0 mt-2 w-36 bg-[#FCEED5] rounded-lg shadow-lg border border-gray-200")
      div(class="py-2")
          a(href='/pet' class="block px-4 py-2 text-sm italic text-gray-800 hover:bg-gray-100") Pet
          a(href='/foodpet' class="block px-4 py-2 text-sm italic text-gray-800 hover:bg-gray-100") Pet Food
          a(href='/toypet' class="block px-4 py-2 text-sm italic text-gray-800 hover:bg-gray-100") Pet Toys