mixin dropdownCard()
    div(class="relative")
        button(onclick="toggleCartDropdown()" class="flex items-center gap-2 hover:text-blue-600")
          svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z")
        div#cartDropdown(class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg border border-gray-200 z-50 py-2")
          a(href="/cart" class="flex justify-between text-sm px-4 py-2 text-gray-800 hover:bg-gray-100") 
            | Food Pet
            span(class="ml-2 text-sm text-gray-500") View all items
          a(href="/cart" class="flex justify-between text-sm px-4 py-2 text-gray-800 hover:bg-gray-100") 
            | Toy Pet
            span(class="ml-2 text-sm text-gray-500") View all items
          a(href="/checkout" class="flex justify-between text-sm px-4 py-2 text-gray-800 hover:bg-gray-100") 
            | My Order
            span(class="ml-2 text-sm text-gray-500") Check
