@forward "reset";
.banner-dog-friend {
  position: relative;
  width: 100%; }

.banner-dog-friend img {
  width: 100%;
  height: auto; }

.banner-dog-friend .btn {
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #003459;
  color: white;
  font-size: 12px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 57px; }

.banner-dog-friend .btn-adop {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #003459;
  color: white;
  font-size: 12px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 57px; }

.banner-dog-friend .btn:hover {
  background-color: #ff7037; }

.btn-adop:hover {
  background-color: #ff7037; }
