aside(class="w-[20%] flex flex-col gap-[20px]")
    fieldset(class="flex flex-col gap-[10px] text-[#00171F]")
        p(class="text-[16px] font-bold") Gender
        .flex.items-center.mb-4
            input#male(type='checkbox' value='' class=' w-4 h-4 bg-gray-100 rounded dark:bg-gray-700 dark:border-[#CCD1D2] border-[#CCD1D2] accent-[#003459]')
            label.ms-2.text-sm.font-medium.text-gray-900(for='male' class='dark:text-[#00171F]') Male
        .flex.items-center.mb-4
            input#female(type='checkbox' value='' class=' w-4 h-4 bg-gray-100 rounded dark:bg-gray-700 dark:border-[#CCD1D2] border-[#CCD1D2] accent-[#003459]')
            label.ms-2.text-sm.font-medium.text-gray-900(for='female' class='dark:text-[#00171F]') Female
            
    hr

    fieldset(class="flex flex-col gap-[10px]")
        p(class="text-[16px] text-[#00171F] font-bold") Price
        div(class="flex gap-[10%]")
            select(class="w-[50%] border-b outline-none")
                option(value="" default) Min 
                option(value="") 100$
                option(value="") 200$
                option(value="") 300$
                option(value="") 400$
                option(value="") 500$
                option(value="") 1000$ 
                option(value="") 1500$
            select(class="w-[50%] border-b outline-none")
                option(value="" default) Max
                option(value="") 100$
                option(value="") 200$
                option(value="") 300$
                option(value="") 400$
                option(value="") 500$
                option(value="") 1000$ 
                option(value="") 1500$
                option(value="") > 2000$
    hr

    fieldset(class="flex flex-col gap-[10px] text-[#00171F]")
        p(class="text-[16px] font-bold") Breed
        .flex.items-center.mb-4
            input#small(type='checkbox' value='' class=' w-4 h-4 bg-gray-100 rounded dark:bg-gray-700 dark:border-[#CCD1D2] border-[#CCD1D2] accent-[#003459]')
            label.ms-2.text-sm.font-medium.text-gray-900(for='small' class='dark:text-[#00171F]') Small
        .flex.items-center.mb-4
            input#medium(type='checkbox' value='' class=' w-4 h-4 bg-gray-100 rounded dark:bg-gray-700 dark:border-[#CCD1D2] border-[#CCD1D2] accent-[#003459]')
            label.ms-2.text-sm.font-medium.text-gray-900(for='medium' class='dark:text-[#00171F]') Medium
        .flex.items-center.mb-4
            input#big(type='checkbox' value='' class=' w-4 h-4 bg-gray-100 rounded dark:bg-gray-700 dark:border-[#CCD1D2] border-[#CCD1D2] accent-[#003459]')
            label.ms-2.text-sm.font-medium.text-gray-900(for='big' class='dark:text-[#00171F]') Big
        
        
    